{#
/**
 * @file
 * Default order template.
 *
 * Available variables:
 * - attributes: HTML attributes for the wrapper.
 * - order: The rendered order fields.
 *   Use 'order' to print them all, or print a subset such as
 *   'order.order_number'. Use the following code to exclude the
 *   printing of a given field:
 *   @code
 *   {{ order|without('order_number') }}
 *   @endcode
 * - order_entity: The order entity.
 *
 * @ingroup themeable
 */
#}
<div{{ attributes }}>
  <div class="row row-table border border-2 border-dark">
    <div class="col-sm-1 col-2 col-table p-2 border">{{ order.no }}</div>
    <div class="col-xl-2 col-sm-5 col-10 col-table p-2 border">{{ order.client }}</div>
    <div class="col-xl-1 col-sm-2 col-4 col-table p-2 border">{{ order.order_type }}</div>
    <div class="col-xl-1 col-sm-2 col-4 col-table p-2 border">{{ order.date_completed }}</div>
    <div class="col-xl-1 col-sm-2 col-4 col-table p-2 border">{{ order.sum }}</div>
    <div class="col-xl-3 col-6 col-table p-2 border">{{ order.items }}</div>
    <div class="col-xl-3 col-6 col col-table p-2 border">{{ order.form_status }}</div>
  </div>
</div>
