{#
/**
 * @file
 * Theme override to display a view of unformatted rows.
 *
 * Available variables:
 * - title: The title of this group of rows. May be empty.
 * - rows: A list of the view's row items.
 *   - attributes: The row's HTML attributes.
 *   - content: The row's content.
 * - view: The view object.
 * - default_row_class: A flag indicating whether default classes should be
 *   used on rows.
 *
 * @see template_preprocess_views_view_unformatted()
 */
#}
{% if title %}
  <h3>{{ title }}</h3>
{% endif %}
<div class="row row-header border fw-bold">
  <div class="col-sm-1 col-2 col-table p-2 border">№</div>
  <div class="col-xl-2 col-sm-5 col-10 col-table p-2 border">Клиент</div>
  <div class="col-xl-1 col-sm-2 col-4 col-table p-2 border">Тип</div>
  <div class="col-xl-1 col-sm-2 col-4 col-table p-2 border">Завершен</div>
  <div class="col-xl-1 col-sm-2 col-4 col-table p-2 border">Сумма</div>
  <div class="col-xl-3 col-6 col-table p-2 border">Элементы заказа</div>
  <div class="col-xl-3 col-6 col col-table p-2 border">Статус</div>
</div>
{% for row in rows %}
  {%
    set row_classes = [
      default_row_class ? 'views-row',
    ]
  %}
  <div{{ row.attributes.addClass(row_classes) }}>
    {{- row.content -}}
  </div>
{% endfor %}
