@keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
}
@keyframes dash-off {
  to {
    stroke-dashoffset: 30;
  }
}

.favorite {
  &__btn {
    color: #707070;
    font-size: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    padding: 0 5px;
    background-color: #ffffff;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    user-select: none;
    transition: color $duration, box-shadow $duration, background-color $duration;
    border: 1px solid $color-border;
    svg {
      transform: perspective(1px);
      transition: transform $duration;
    }
    path {
      transition: fill $duration, stroke $duration, stroke-width $duration;
    }
    &:hover {
      background-color: darken(#fff, 4%);
      box-shadow: 0 0 12px rgba(#000, 0.12);
      svg {
        transform: scale(1.1) perspective(1px);
      }
    }
    &:active {
      background-color: darken(#fff, 10%);
    }
    &--remove {
      svg,
      path {
        stroke: $color-button1;
      }
    }
    &--clothes {
      .favorite__path {
        // stroke: #ce7967;
        stroke-width: 3px;
        stroke-dasharray: 30;
        stroke-dashoffset: 30;
      }
      &:hover {
        .favorite__path {
          animation: dash 0.2s 1 forwards;
          animation-timing-function: ease-in;
          &:last-child {
            opacity: 1;
            animation-delay: 0.25s;
          }
        }
      }
      &.favorite__btn--remove {
        .favorite__path {
          stroke-dashoffset: 0;
        }
        .empty {
          display: none;
        }
      }
    }
    &--store {
      &.favorite__btn--remove {
        path {
          fill: $color-button1;
        }
      }
    }
  }
  &--full {
    position: absolute;
    bottom: 3px;
    right: 0;
    flex-shrink: 0;
    z-index: 1;
    &:hover {
      color: $color-button1;
    }
  }
  &--full {
    &.favorite--clothes {
      position: static;
      width: 36px;
      height: 36px;
      @include m-down(sm) {
        bottom: 14px;
      }
    }
  }
  &--teaser {
    position: absolute;
    top: 12px;
    right: 12px;
    width: 30px;
    height: 30px;
  }
  &--store {
    width: 39px;
    height: 39px;
  }
  &--clothes {
    grid-column: 2;
    &.favorite--teaser {
      top: auto;
      bottom: 12px;
    }
    @include m-down(sm) {
      grid-row: 1;
    }
  }
}
.favorites {
  .cart-actions {
    @include m-down(md) {
      display: flex;
      flex-wrap: wrap;
      margin-bottom: -19px;
    }
    .btn {
      @include m-down(md) {
        margin: 0 19px 19px 0;
      }
      @include m-down(xs) {
        width: 100%;
        margin: 0 0 19px;
      }
    }
  }
  .catalog {
    flex-grow: 1;
    position: relative;
    &-togglers {
      right: 0;
      bottom: 100%;
      position: absolute;
    }
    @include m-down(md) {
      padding-top: 30px;
    }
  }
  .favorite__btn--remove {
    border: 1px solid #e4e4e4;
    svg,
    path {
      // fill: darken($color-border, 20%);
      stroke: darken($color-border, 20%);
    }
    &:hover {
      svg,
      path {
        // fill: darken($color-border, 50%);
        stroke: darken($color-border, 50%);
      }
    }
  }
  &--clothes {
    .favorite__btn {
      width: 29px;
      height: 29px;
      top: auto !important;
      bottom: 12px !important;
      svg {
        display: inline-block;
      }
      svg,
      path {
        transition: fill $duration, stroke $duration, transform $duration;
      }
      i {
        display: none;
      }
      &--remove {
        background-image: none;
      }
    }
  }
  @include m-up(lg) {
    display: flex;
    align-items: flex-start;
    .preloader {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(#fff, 0.4);
    }
    .cart {
      &-sidebar {
        width: 278px;
        margin-right: 20px;
      }
      &-actions .btn {
        margin-bottom: 19px;
        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }
}
