.variations {
  &-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
  }
  &--full {
    padding-right: 50px;
  }
  &--full &-price {
    margin-bottom: 25px;
  }
  &-price {
    font-size: 24px;
    line-height: 1.1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 0;
    &__old {
      text-decoration: line-through;
      color: #7c7c7c;
      font-size: 18px;
      font-weight: 300;
      margin-bottom: 7px;
    }
    &__current {
      font-weight: bold;
    }
  }
  &-empty {
    font-weight: bold;
    font-size: 20px;
    text-align: center;
  }
  &-equipment {
    &-title {
      color: $color-button1;
      font-size: 18px;
      font-weight: 500;
      margin-bottom: 3px;
    }
  }
  &-parameter {
    margin-bottom: 22px;
    &__list {
      display: flex;
      flex-wrap: wrap;
      gap: 12px;
      margin-bottom: 0;
      padding-left: 0;
      list-style: none;
    }
    &__label {
      color: $color-text-main;
      font-weight: 300;
      font-size: 16px;
      letter-spacing: 1px;
      margin: 0 0 12px;
    }
    &__item {
      color: $color-text-second;
      font-weight: 300;
      position: relative;
      min-height: 0;
      min-width: 0;
      margin-right: 0;
      margin-bottom: 0;
      padding: 5px 11px;
      box-shadow: none;
      border: 1px solid $color-text-second;
      border-radius: 0;
      transition: border $duration, color $duration;
      z-index: 1;
      &::before {
        content: '';
        position: absolute;
        top: -2px;
        left: -2px;
        width: calc(100% + 4px);
        height: calc(100% + 4px);
        border: 2px outset rgba($color-text-main, 0.9);
        opacity: 0;
        transition: opacity $duration;
        z-index: -1;
        @include m-down(xs) {
          top: -3px;
          left: -3px;
          width: calc(100% + 6px);
          height: calc(100% + 6px);
          border-width: 3px;
        }
      }
      &::after {
        content: attr(data-content);
        font-weight: 300;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        opacity: 0;
      }
      &--color {
        padding: 4px;
        .variations-parameter__color {
          display: block;
          width: 33px;
          height: 33px;
          border-radius: 0;
        }
      }
      &--active {
        color: $color-text-main;
        &::before,
        &::after {
          opacity: 1;
        }
        span:not(.variations-parameter__color) {
          opacity: 0;
        }
      }
      span {
        min-height: 0;
        min-width: 0;
        line-height: 1.5;
      }
      &:hover {
        color: $color-text-main;
        box-shadow: none;
        border: 1px solid $color-text-main;
        transform: none !important;
      }
      &--disabled {
        color: #b1b1b1;
        border-color: #b1b1b1;
        pointer-events: none;
        &:hover {
          border: 2px solid rgba(77, 77, 77, 0.3);
          box-shadow: none;
        }
      }
      &:not(.variations-parameter__item--disabled):hover {
        color: #333333;
        transform: translateY(-1px);
      }
      &:focus {
        outline: none;
      }
    }
    &__label {
      color: #999;
      font-size: 15px;
      margin: 0 0 4px;
      &:focus {
        outline: none;
      }
    }
  }
  &-quantity {
    display: flex;
    width: 150px;
    margin-bottom: 10px;
    align-items: center;
    border-radius: 4px;
    background-color: $color-bg-blocks;
    &-disabled {
      pointer-events: none;
    }
    &-button {
      width: 32px;
      height: 33px;
      margin: -1px;
      background: none;
      box-shadow: none;
      border: solid transparent;
      background-position: center;
      background-repeat: no-repeat;
      transition: background-color $duration, border-color $duration;
      display: flex;
      align-items: center;
      justify-content: center;
      &--minus {
        border-radius: 6px 0 0 6px;
        border-width: 1px 0 1px 1px;
      }
      &--plus {
        border-radius: 0 6px 6px 0;
        border-width: 1px 1px 1px 0;
      }
      &:hover {
        border-color: darken($color-border, 27%);
      }
      &:active {
        background-color: $color-border;
      }
    }
    &-value {
      font-size: 15px;
      line-height: 1.1;
      font-weight: 300;
      flex-grow: 1;
      height: 100%;
      text-overflow: ellipsis;
      background: none;
      border: none;
      text-align: center;
      overflow: hidden;
      width: 100%;
    }
    &:not(:last-child) {
      margin-right: 10px;
    }
    @include m-down(500) {
      width: 147px;
    }
  }
  &-button {
    .disabled {
      opacity: 0.3;
      pointer-events: none;
    }
    &:not(.variations-button--full) {
      .btn {
        font-size: 0;
        letter-spacing: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 52px;
        height: 52px;
        padding: 0;
        min-width: 0;
        background-color: #fff;
        border-radius: 26px;
        border: solid 3px $color-button1;
        fill: $color-button1;
        transition: fill 0.4s, background-color 0.4s, border-color 0.4s;
        &:hover {
          border: solid 3px darken($color-button1, 10%);
          fill: darken($color-button1, 10%);
        }
        &:active {
          border: solid 3px lighten($color-button1, 5%);
          fill: lighten($color-button1, 5%);
        }
      }
      .btn--cart-added {
        fill: #fff;
        background-color: $color-button1;
        &:hover {
          fill: #ffffff;
          background-color: darken($color-button1, 10%);
          border: solid 3px darken($color-button1, 10%);
        }
        &:active {
          fill: #ffffff;
          background-color: lighten($color-button1, 5%);
          border: solid 3px lighten($color-button1, 5%);
        }
      }
    }
    svg {
      position: relative;
      fill: inherit;
    }
    &--full {
      display: flex;
      svg {
        display: none;
      }
      .variations-quantity {
        svg {
          display: block;
        }
        line {
          stroke: $color-text-main;
        }
      }
      .btn {
        font-size: 15px;
        max-width: 100%;
        min-height: 61px;
      }
      .variations--clothes & {
        &:last-child {
          .btn {
            margin-bottom: 0;
          }
        }
      }
    }
  }
  &-message {
    color: #ce7967;
    font-weight: 500;
    position: absolute;
    top: calc(100% + 10px);
    left: 0;
    z-index: 1;
    @include m-down(sm) {
      font-size: 14px;
    }
  }
  .feature {
    margin-bottom: 20px;
    &-title {
      font-size: 18px;
      font-weight: 500;
      margin-bottom: 6px;
    }
    &-select {
      max-width: 320px;
      select {
        max-width: 100%;
        padding: 3px 5px;
        border-radius: 3px;
      }
    }
    .form-check-label {
      margin-left: 5px;
    }
    &-checkbox {
      margin-bottom: 3px;
    }
  }
}
