@import '../../../../themes/contrib/bootbase/bootstrap5/scss/functions', '../../../../themes/contrib/bootbase/bootstrap5/scss/variables',
  '../../../../themes/contrib/bootbase/bootstrap5/scss/mixins', '../../../../themes/adaptive/scss/mixins/breakpoints', '../../../../themes/adaptive/scss/colors';
$duration: 0.4s;
@import 'favorite';
@import 'variation';

.cart {
  display: flex;
  align-items: flex-start;
  min-height: 150px;
  margin-bottom: 50px;
  @include m-down(lg) {
    display: block;
  }
  &-content {
    padding: 0 25px;
    border: solid 1px $color-border;
    @include m-down(md) {
      padding: 0 15px;
    }
  }
  &-left {
    flex-grow: 1;
    margin-right: 20px;
    @include m-down(lg) {
      margin: 0 0 30px;
    }
  }
  &-sidebar {
    width: 291px;
    flex-shrink: 0;
    position: sticky;
    position: -webkit-sticky;
    top: 90px;
    padding: 34px 24px;
    background-color: $color-bg-blocks;
    @include m-down(lg) {
      top: 0;
      position: relative;
      width: 100%;
      .checkout & {
        margin-bottom: 40px;
      }
    }
  }
  &-small {
    display: flex;
    margin-left: 45px;
    .col-auto & {
      margin: 0;
    }
    & &-link {
      color: $color-link;
    }
    &-item {
      flex-shrink: 0;
      position: relative;
      margin-right: 20px;
      @include m-down(md) {
        margin-right: 17px;
      }
      @include m-down(sm) {
        &--favorites {
          display: none;
        }
      }
      &:last-child {
        margin-right: 0;
      }
    }
    &-icon {
      width: 38px;
      height: 38px;
      display: block;
      position: relative;
      border-radius: 19px;
      background-color: #fff;
      background-position: center;
      background-repeat: no-repeat;
      box-shadow: 0 1px 4px rgba(#000, 0.25);
      &--cart,
      &--favorites {
        display: flex;
        align-items: center;
        justify-content: center;
      }
      @include m-down(md) {
        width: 48px;
        height: 48px;
        border-radius: 24px;
        background-size: 23px;
      }
    }
    &-content {
      position: absolute;
      top: 100%;
      right: 0;
      z-index: 10;
      pointer-events: none;
      opacity: 0;
      transform-origin: right top;
      transform: scale(0.8, 0.7);
      transition: opacity 0.4s, transform 0.4s;
      @include m-down(md) {
        display: none;
      }
      .list {
        margin: 6px 0 0;
        padding: 15px 25px;
        display: flex;
        color: #131313;
        white-space: nowrap;
        text-transform: none;
        list-style-type: none;
        flex-direction: column;
        background-color: #fff;
        box-shadow: 0 0 3px 3px rgba(#000, 0.1);
        &-item {
          margin: 0 0 10px;
          &:last-child {
            margin-bottom: 0;
          }
        }
      }
    }
    &-count {
      color: #fff;
      font-size: 10px;
      font-weight: bold;
      line-height: 18px;
      position: absolute;
      top: 50%;
      left: -11px;
      width: 18px;
      height: 18px;
      margin-top: -8px;
      background-color: #ec3e26;
      border-radius: 9px;
      text-align: center;
    }
    &-item:hover &-content {
      opacity: 1;
      pointer-events: auto;
      transform: none;
    }
    @include m-down(md) {
      margin-left: 0;
    }
  }
  &-items {
    .cart-content--checkout & {
      padding: 10px 0 20px;
    }
    @include m-down(md) {
      padding: 10px 0;
      .cart-content--checkout & {
        padding: 5px 0;
      }
    }
  }
  &-row {
    display: flex;
    &--header {
      font-size: 17px;
      font-weight: 300;
      line-height: 1.1;
      position: sticky;
      position: -webkit-sticky;
      top: 0;      
      background-color: $color-bg;
      border-bottom: solid 1px rgba($color-border, 0.6);
      @include m-down(md) {
        display: none;
      }
    }
    &--body {
      padding: 20px 0;
      align-items: center;
      border-bottom: solid 1px rgba($color-border, 0.6);
      &:last-child {
        border-bottom: 0;
      }
      .cart-content--checkout & {
        border: 0;
        padding: 15px 0;
        font-size: 18px;
        line-height: 1.3;
        font-weight: 300;
      }
      @include m-down(md) {
        flex-wrap: wrap;
        min-height: 150px;
        position: relative;
        .cart-content--checkout & {
          min-height: 0;
          padding-left: 0;
          flex-wrap: nowrap;
        }
      }
    }
    @include m-down(sm) {
      display: grid;
      grid-template-columns: auto auto 1fr;
      gap: 15px 25px;
      &--header {
        display: none;
      }
    }
    @include m-down(430) {
      gap: 10px;
    }
  }
  &-col {
    flex-shrink: 0;
    &--image {
      width: 107px;
      text-align: center;
      margin-right: 25px;
    }
    &--product {      
      flex-grow: 1;
      flex-shrink: 1;
      margin-right: 30px;      
      .cart-content--checkout & {
        @include m-down(xs) {
          margin-right: 20px;
        }
      }
      .param {
        &-adjustments {
          display: flex;
          flex-wrap: wrap;
          font-size: 14px;
          color: $color-marks;
          margin-top: 5px;
          &-item {
            display: inline-block;
            margin: 5px 5px 0 0;
            padding: 2px 10px;
            border: 1px solid $color-marks;
            border-radius: 2px;
          }
        }
      }
      @include m-down(sm) {
        grid-column: 2 / 4;
      }
    }
    &--price {
      width: 95px;
      margin-right: 40px;
      text-align: right;
      @include m-down(md) {
        display: none !important;
      }
    }
    &--quantity {
      width: 105px;
      text-align: center;      
      @include m-up(md) {
        margin-right: 40px;
      }
      .cart-content--checkout & {
        @include m-down(xs) {
          width: auto;
          margin-right: 15px;
        }
      }
    }
    &--total {
      width: 95px;
      margin-right: 20px;
      &:last-child {
        margin-right: 58px;
      }
      @include m-down(xs) {
        width: auto;
      }
      .cart-content--checkout & {
        @include m-down(xs) {
          width: auto;
          margin-right: 0;
          padding-top: 1px !important;
        }
      }
    }
    &--buttons {
      width: 38px;
      @include m-down(sm) {
        width: auto;
        align-items: center;
        flex-direction: row;
      }
      @include m-down(430) {
        flex-direction: column;
      }
    }    
  }
  &-row--header &-col {
    opacity: 0.9;
    padding: 11px 0;
  }
  &-row--body &-col {
    padding-top: 17px;
    min-height: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    &--image {
      padding-top: 0;
    }
    &--buttons {
      @include m-between(430, sm) {
        flex-direction: row;
      }
    }
    .cart-content--checkout & {
      min-height: 0;
      padding-top: 0;
    }
    @include m-down(sm) {
      padding-top: 0;
    }
    @include m-down(430) {
      &--buttons {
        flex-direction: column;
      }
    }    
  }  
  &-picture {
    display: block;
    img {
      transition: opacity $duration;
    }
    &:hover img {
      opacity: 0.75;
    }
    &:active img {
      opacity: 0.6;
    }
  }
  &-name {
    display: block;
    color: inherit;
    font-size: 18px;
    line-height: 1.3;
    font-weight: 300;
    max-width: 260px;
    .cart-content--checkout & {
      max-width: 100%;
    }
    .cart-content--checkout & {
      @include m-down(xs) {
        font-size: 16px;
      }
    }
  }
  &-price {
    font-size: 18px;
    line-height: 1.2;
    font-weight: 300;
    &--bold {
      font-weight: bold;
    }
    &--crossed {
      font-size: 15px;
      font-weight: 300;
      text-decoration: line-through;
      color: #878787;
    }
  }
  &-discount {
    font-size: 14px;
    font-weight: 300;
    line-height: 1.6;
    color: $color-button1;
  }
  &-quantity {
    display: flex;
    align-items: center;
    border-radius: 6px;
    background-color: $color-bg-blocks;
    border: solid 1px $color-border;
    min-height: 33px;
    &-button {
      min-width: 32px;
      height: 33px;
      margin: -1px;
      background: none;
      box-shadow: none;
      border: solid transparent;
      background-position: center;
      background-repeat: no-repeat;
      transition: background-color $duration, border-color $duration;
      &--minus {
        border-radius: 6px 0 0 6px;
        border-width: 1px 0 1px 1px;
        background-image: url('../images/cart-minus.svg');
      }
      &--plus {
        border-radius: 0 6px 6px 0;
        border-width: 1px 1px 1px 0;
        background-image: url('../images/cart-plus.svg');
      }
      &:hover {
        border-color: darken($color-border, 27%);
      }
      &:active {
        background-color: $color-border;
      }
    }
    &-value {
      flex-grow: 1;
      min-width: 10px;
      text-align: center;
      overflow: hidden;
      font-size: 15px;
      line-height: 1.1;
      font-weight: 300;
      text-overflow: ellipsis;
      background: transparent;
      border: none;
      width: 100%;
    }
  }
  &-button {
    color: darken($color-border, 27%);
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 38px;
    height: 38px;
    margin-bottom: 10px;
    background-color: #fff;
    border-radius: 19px;
    border: solid 1px $color-border;
    transition: background-color $duration, box-shadow $duration;
    cursor: pointer;
    &:last-child {
      margin-bottom: 0;
    }
    &:hover {
      background-color: darken($color-bg, 12%);
      box-shadow: 0 0 10px rgba($black, 0.35);
    }
    &:active,
    &:focus {
      background-color: rgba($color-bg-blocks, 0.09);
    }
    &--fav-in {
      color: $red;
    }
    @include m-down(sm) {
      margin: 0 15px 0 0;
      &:last-child {
        margin-right: 0;
      }
    }
    @include m-down(430) {
      margin: 0 0 10px;
    }
  }
  &-total {
    font-size: 18px;
    line-height: 1.25;
    &-count {
      font-weight: 300;
      margin-bottom: 9px;
    }
    &-price {
      font-weight: bold;
    }
  }
  &-actions {
    padding-top: 25px;
    @include m-up(xl) {
      .btn {
        width: 100%;
        padding-left: 15px;
        padding-right: 15px;
      }
    }
  }
  &-back {
    right: 0;
    top: -50px;
    opacity: 0.8;
    font-size: 16px;
    line-height: 1.2;
    position: absolute;
    transition: opacity $duration;
    @include m-down(lg) {
      position: static;
      margin: 0 0 20px;
    }
    a {
      color: inherit;
      border-bottom: solid 1px rgba($color-text-main, 0.32);
      transition: border-color $duration;
    }
    &:hover {
      opacity: 1;
      a {
        color: inherit;
        border-color: $color-text-main;
      }
    }
    a:active {
      border-color: transparent;
    }
  }
  &-empty {
    padding: 20px;
  }
}
.overtaken {
  position: relative;
  &::after {
    position: absolute;
    top: 0;
    left: 0;
    content: '';
    z-index: -1;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 40, 0, 0.3);
  }
}
.checkout {
  &-form {
    .form {
      &-item {
        text-align: left;
      }
    }
    .fieldset-wrapper {
      padding-top: 1px;
    }
    .checkout-legend--div,
    legend {
      font-size: 26px;
      line-height: 1.3;
      font-weight: 300;
      margin: 0 0 30px;
      text-align: left;
    }
    .checkout-legend--div {
      margin-top: 40px;
    }
    .checkout-pane-payment-information {
      .form-wrapper[id^='edit-payment-information-payment-method'] {        
        .form-radio {
          cursor: pointer;
          position: relative;
          z-index: 5;
          &:hover {
            &:not([checked='checked']) ~ label {
              &::before {
                border-color: $color-button1;
                background-color: lighten(#f7f7f7, 10%);
              }
            }
          }
        }
        label {
          font-size: 16px;          
          @include m-down(lg) {
            font-size: 20px;
          }
        }
        input[checked='checked'] ~ label {
          &::before {
            border-color: $color-button1;
            background-color: lighten(#f7f7f7, 10%);
          }
        }
        input[value='synpay'] ~ label,
        input[value$='card'] ~ label {
          &::after {
            background-image: url('../images/payment-method-card.svg');
          }
        }
        input[value$='qr'] ~ label {
          &::after {
            background-image: url('../images/payment-method-qr.svg');
          }
        }
        input[value$='cash'] ~ label {
          &::after {
            background-image: url('../images/payment-method-cash.svg');
          }
        }
      }
    }
  }
  &-complete {
    font-size: 18px;
    line-height: 1.35;
    padding: 30px 25px;
    background-color: $color-bg-blocks;
    &-title {
      font-weight: bold;
      margin-bottom: 25px;
    }
    &-text {
      font-weight: 300;
    }
  }
}
