@keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
}
@keyframes dash-off {
  to {
    stroke-dashoffset: 30;
  }
}
.favorite__btn {
  color: #707070;
  font-size: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  padding: 0 5px;
  background-color: #ffffff;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  user-select: none;
  transition: color 0.4s, box-shadow 0.4s, background-color 0.4s;
  border: 1px solid #E4E4E4;
}
.favorite__btn svg {
  transform: perspective(1px);
  transition: transform 0.4s;
}
.favorite__btn path {
  transition: fill 0.4s, stroke 0.4s, stroke-width 0.4s;
}
.favorite__btn:hover {
  background-color: whitesmoke;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.12);
}
.favorite__btn:hover svg {
  transform: scale(1.1) perspective(1px);
}
.favorite__btn:active {
  background-color: #e6e6e6;
}
.favorite__btn--remove svg,
.favorite__btn--remove path {
  stroke: #eb4a5b;
}
.favorite__btn--clothes .favorite__path {
  stroke-width: 3px;
  stroke-dasharray: 30;
  stroke-dashoffset: 30;
}
.favorite__btn--clothes:hover .favorite__path {
  animation: dash 0.2s 1 forwards;
  animation-timing-function: ease-in;
}
.favorite__btn--clothes:hover .favorite__path:last-child {
  opacity: 1;
  animation-delay: 0.25s;
}
.favorite__btn--clothes.favorite__btn--remove .favorite__path {
  stroke-dashoffset: 0;
}
.favorite__btn--clothes.favorite__btn--remove .empty {
  display: none;
}
.favorite__btn--store.favorite__btn--remove path {
  fill: #eb4a5b;
}
.favorite--full {
  position: absolute;
  bottom: 3px;
  right: 0;
  flex-shrink: 0;
  z-index: 1;
}
.favorite--full:hover {
  color: #eb4a5b;
}
.favorite--full.favorite--clothes {
  position: static;
  width: 36px;
  height: 36px;
}
@media (max-width: 767.98px) {
  .favorite--full.favorite--clothes {
    bottom: 14px;
  }
}
.favorite--teaser {
  position: absolute;
  top: 12px;
  right: 12px;
  width: 30px;
  height: 30px;
}
.favorite--store {
  width: 39px;
  height: 39px;
}
.favorite--clothes {
  grid-column: 2;
}
.favorite--clothes.favorite--teaser {
  top: auto;
  bottom: 12px;
}
@media (max-width: 767.98px) {
  .favorite--clothes {
    grid-row: 1;
  }
}

@media (max-width: 991.98px) {
  .favorites .cart-actions {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: -19px;
  }
}
@media (max-width: 991.98px) {
  .favorites .cart-actions .btn {
    margin: 0 19px 19px 0;
  }
}
@media (max-width: 575.98px) {
  .favorites .cart-actions .btn {
    width: 100%;
    margin: 0 0 19px;
  }
}
.favorites .catalog {
  flex-grow: 1;
  position: relative;
}
.favorites .catalog-togglers {
  right: 0;
  bottom: 100%;
  position: absolute;
}
@media (max-width: 991.98px) {
  .favorites .catalog {
    padding-top: 30px;
  }
}
.favorites .favorite__btn--remove {
  border: 1px solid #e4e4e4;
}
.favorites .favorite__btn--remove svg,
.favorites .favorite__btn--remove path {
  stroke: #b1b1b1;
}
.favorites .favorite__btn--remove:hover svg,
.favorites .favorite__btn--remove:hover path {
  stroke: #656565;
}
.favorites--clothes .favorite__btn {
  width: 29px;
  height: 29px;
  top: auto !important;
  bottom: 12px !important;
}
.favorites--clothes .favorite__btn svg {
  display: inline-block;
}
.favorites--clothes .favorite__btn svg,
.favorites--clothes .favorite__btn path {
  transition: fill 0.4s, stroke 0.4s, transform 0.4s;
}
.favorites--clothes .favorite__btn i {
  display: none;
}
.favorites--clothes .favorite__btn--remove {
  background-image: none;
}
@media (min-width: 992px) {
  .favorites {
    display: flex;
    align-items: flex-start;
  }
  .favorites .preloader {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.4);
  }
  .favorites .cart-sidebar {
    width: 278px;
    margin-right: 20px;
  }
  .favorites .cart-actions .btn {
    margin-bottom: 19px;
  }
  .favorites .cart-actions .btn:last-child {
    margin-bottom: 0;
  }
}

.variations-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}
.variations--full {
  padding-right: 50px;
}
.variations--full .variations-price {
  margin-bottom: 25px;
}
.variations-price {
  font-size: 24px;
  line-height: 1.1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 0;
}
.variations-price__old {
  text-decoration: line-through;
  color: #7c7c7c;
  font-size: 18px;
  font-weight: 300;
  margin-bottom: 7px;
}
.variations-price__current {
  font-weight: bold;
}
.variations-empty {
  font-weight: bold;
  font-size: 20px;
  text-align: center;
}
.variations-equipment-title {
  color: #eb4a5b;
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 3px;
}
.variations-parameter {
  margin-bottom: 22px;
}
.variations-parameter__list {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}
.variations-parameter__label {
  color: #000000;
  font-weight: 300;
  font-size: 16px;
  letter-spacing: 1px;
  margin: 0 0 12px;
}
.variations-parameter__item {
  color: #4f4f4f;
  font-weight: 300;
  position: relative;
  min-height: 0;
  min-width: 0;
  margin-right: 0;
  margin-bottom: 0;
  padding: 5px 11px;
  box-shadow: none;
  border: 1px solid #4f4f4f;
  border-radius: 0;
  transition: border 0.4s, color 0.4s;
  z-index: 1;
}
.variations-parameter__item::before {
  content: "";
  position: absolute;
  top: -2px;
  left: -2px;
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  border: 2px outset rgba(0, 0, 0, 0.9);
  opacity: 0;
  transition: opacity 0.4s;
  z-index: -1;
}
@media (max-width: 575.98px) {
  .variations-parameter__item::before {
    top: -3px;
    left: -3px;
    width: calc(100% + 6px);
    height: calc(100% + 6px);
    border-width: 3px;
  }
}
.variations-parameter__item::after {
  content: attr(data-content);
  font-weight: 300;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
}
.variations-parameter__item--color {
  padding: 4px;
}
.variations-parameter__item--color .variations-parameter__color {
  display: block;
  width: 33px;
  height: 33px;
  border-radius: 0;
}
.variations-parameter__item--active {
  color: #000000;
}
.variations-parameter__item--active::before, .variations-parameter__item--active::after {
  opacity: 1;
}
.variations-parameter__item--active span:not(.variations-parameter__color) {
  opacity: 0;
}
.variations-parameter__item span {
  min-height: 0;
  min-width: 0;
  line-height: 1.5;
}
.variations-parameter__item:hover {
  color: #000000;
  box-shadow: none;
  border: 1px solid #000000;
  transform: none !important;
}
.variations-parameter__item--disabled {
  color: #b1b1b1;
  border-color: #b1b1b1;
  pointer-events: none;
}
.variations-parameter__item--disabled:hover {
  border: 2px solid rgba(77, 77, 77, 0.3);
  box-shadow: none;
}
.variations-parameter__item:not(.variations-parameter__item--disabled):hover {
  color: #333333;
  transform: translateY(-1px);
}
.variations-parameter__item:focus {
  outline: none;
}
.variations-parameter__label {
  color: #999;
  font-size: 15px;
  margin: 0 0 4px;
}
.variations-parameter__label:focus {
  outline: none;
}
.variations-quantity {
  display: flex;
  width: 150px;
  margin-bottom: 10px;
  align-items: center;
  border-radius: 4px;
  background-color: #ffffff;
}
.variations-quantity-disabled {
  pointer-events: none;
}
.variations-quantity-button {
  width: 32px;
  height: 33px;
  margin: -1px;
  background: none;
  box-shadow: none;
  border: solid transparent;
  background-position: center;
  background-repeat: no-repeat;
  transition: background-color 0.4s, border-color 0.4s;
  display: flex;
  align-items: center;
  justify-content: center;
}
.variations-quantity-button--minus {
  border-radius: 6px 0 0 6px;
  border-width: 1px 0 1px 1px;
}
.variations-quantity-button--plus {
  border-radius: 0 6px 6px 0;
  border-width: 1px 1px 1px 0;
}
.variations-quantity-button:hover {
  border-color: #9f9f9f;
}
.variations-quantity-button:active {
  background-color: #E4E4E4;
}
.variations-quantity-value {
  font-size: 15px;
  line-height: 1.1;
  font-weight: 300;
  flex-grow: 1;
  height: 100%;
  text-overflow: ellipsis;
  background: none;
  border: none;
  text-align: center;
  overflow: hidden;
  width: 100%;
}
.variations-quantity:not(:last-child) {
  margin-right: 10px;
}
@media (max-width: 500px) {
  .variations-quantity {
    width: 147px;
  }
}
.variations-button .disabled {
  opacity: 0.3;
  pointer-events: none;
}
.variations-button:not(.variations-button--full) .btn {
  font-size: 0;
  letter-spacing: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 52px;
  height: 52px;
  padding: 0;
  min-width: 0;
  background-color: #fff;
  border-radius: 26px;
  border: solid 3px #eb4a5b;
  fill: #eb4a5b;
  transition: fill 0.4s, background-color 0.4s, border-color 0.4s;
}
.variations-button:not(.variations-button--full) .btn:hover {
  border: solid 3px #e61c31;
  fill: #e61c31;
}
.variations-button:not(.variations-button--full) .btn:active {
  border: solid 3px #ee6170;
  fill: #ee6170;
}
.variations-button:not(.variations-button--full) .btn--cart-added {
  fill: #fff;
  background-color: #eb4a5b;
}
.variations-button:not(.variations-button--full) .btn--cart-added:hover {
  fill: #ffffff;
  background-color: #e61c31;
  border: solid 3px #e61c31;
}
.variations-button:not(.variations-button--full) .btn--cart-added:active {
  fill: #ffffff;
  background-color: #ee6170;
  border: solid 3px #ee6170;
}
.variations-button svg {
  position: relative;
  fill: inherit;
}
.variations-button--full {
  display: flex;
}
.variations-button--full svg {
  display: none;
}
.variations-button--full .variations-quantity svg {
  display: block;
}
.variations-button--full .variations-quantity line {
  stroke: #000000;
}
.variations-button--full .btn {
  font-size: 15px;
  max-width: 100%;
  min-height: 61px;
}
.variations--clothes .variations-button--full:last-child .btn {
  margin-bottom: 0;
}
.variations-message {
  color: #ce7967;
  font-weight: 500;
  position: absolute;
  top: calc(100% + 10px);
  left: 0;
  z-index: 1;
}
@media (max-width: 767.98px) {
  .variations-message {
    font-size: 14px;
  }
}
.variations .feature {
  margin-bottom: 20px;
}
.variations .feature-title {
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 6px;
}
.variations .feature-select {
  max-width: 320px;
}
.variations .feature-select select {
  max-width: 100%;
  padding: 3px 5px;
  border-radius: 3px;
}
.variations .feature .form-check-label {
  margin-left: 5px;
}
.variations .feature-checkbox {
  margin-bottom: 3px;
}

.cart {
  display: flex;
  align-items: flex-start;
  min-height: 150px;
  margin-bottom: 50px;
}
@media (max-width: 1199.98px) {
  .cart {
    display: block;
  }
}
.cart-content {
  padding: 0 25px;
  border: solid 1px #E4E4E4;
}
@media (max-width: 991.98px) {
  .cart-content {
    padding: 0 15px;
  }
}
.cart-left {
  flex-grow: 1;
  margin-right: 20px;
}
@media (max-width: 1199.98px) {
  .cart-left {
    margin: 0 0 30px;
  }
}
.cart-sidebar {
  width: 291px;
  flex-shrink: 0;
  position: sticky;
  position: -webkit-sticky;
  top: 90px;
  padding: 34px 24px;
  background-color: #ffffff;
}
@media (max-width: 1199.98px) {
  .cart-sidebar {
    top: 0;
    position: relative;
    width: 100%;
  }
  .checkout .cart-sidebar {
    margin-bottom: 40px;
  }
}
.cart-small {
  display: flex;
  margin-left: 45px;
}
.col-auto .cart-small {
  margin: 0;
}
.cart-small .cart-small-link {
  color: #eb4a5b;
}
.cart-small-item {
  flex-shrink: 0;
  position: relative;
  margin-right: 20px;
}
@media (max-width: 991.98px) {
  .cart-small-item {
    margin-right: 17px;
  }
}
@media (max-width: 767.98px) {
  .cart-small-item--favorites {
    display: none;
  }
}
.cart-small-item:last-child {
  margin-right: 0;
}
.cart-small-icon {
  width: 38px;
  height: 38px;
  display: block;
  position: relative;
  border-radius: 19px;
  background-color: #fff;
  background-position: center;
  background-repeat: no-repeat;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.25);
}
.cart-small-icon--cart, .cart-small-icon--favorites {
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (max-width: 991.98px) {
  .cart-small-icon {
    width: 48px;
    height: 48px;
    border-radius: 24px;
    background-size: 23px;
  }
}
.cart-small-content {
  position: absolute;
  top: 100%;
  right: 0;
  z-index: 10;
  pointer-events: none;
  opacity: 0;
  transform-origin: right top;
  transform: scale(0.8, 0.7);
  transition: opacity 0.4s, transform 0.4s;
}
@media (max-width: 991.98px) {
  .cart-small-content {
    display: none;
  }
}
.cart-small-content .list {
  margin: 6px 0 0;
  padding: 15px 25px;
  display: flex;
  color: #131313;
  white-space: nowrap;
  text-transform: none;
  list-style-type: none;
  flex-direction: column;
  background-color: #fff;
  box-shadow: 0 0 3px 3px rgba(0, 0, 0, 0.1);
}
.cart-small-content .list-item {
  margin: 0 0 10px;
}
.cart-small-content .list-item:last-child {
  margin-bottom: 0;
}
.cart-small-count {
  color: #fff;
  font-size: 10px;
  font-weight: bold;
  line-height: 18px;
  position: absolute;
  top: 50%;
  left: -11px;
  width: 18px;
  height: 18px;
  margin-top: -8px;
  background-color: #ec3e26;
  border-radius: 9px;
  text-align: center;
}
.cart-small-item:hover .cart-small-content {
  opacity: 1;
  pointer-events: auto;
  transform: none;
}
@media (max-width: 991.98px) {
  .cart-small {
    margin-left: 0;
  }
}
.cart-content--checkout .cart-items {
  padding: 10px 0 20px;
}
@media (max-width: 991.98px) {
  .cart-items {
    padding: 10px 0;
  }
  .cart-content--checkout .cart-items {
    padding: 5px 0;
  }
}
.cart-row {
  display: flex;
}
.cart-row--header {
  font-size: 17px;
  font-weight: 300;
  line-height: 1.1;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  background-color: #ffffff;
  border-bottom: solid 1px rgba(228, 228, 228, 0.6);
}
@media (max-width: 991.98px) {
  .cart-row--header {
    display: none;
  }
}
.cart-row--body {
  padding: 20px 0;
  align-items: center;
  border-bottom: solid 1px rgba(228, 228, 228, 0.6);
}
.cart-row--body:last-child {
  border-bottom: 0;
}
.cart-content--checkout .cart-row--body {
  border: 0;
  padding: 15px 0;
  font-size: 18px;
  line-height: 1.3;
  font-weight: 300;
}
@media (max-width: 991.98px) {
  .cart-row--body {
    flex-wrap: wrap;
    min-height: 150px;
    position: relative;
  }
  .cart-content--checkout .cart-row--body {
    min-height: 0;
    padding-left: 0;
    flex-wrap: nowrap;
  }
}
@media (max-width: 767.98px) {
  .cart-row {
    display: grid;
    grid-template-columns: auto auto 1fr;
    gap: 15px 25px;
  }
  .cart-row--header {
    display: none;
  }
}
@media (max-width: 430px) {
  .cart-row {
    gap: 10px;
  }
}
.cart-col {
  flex-shrink: 0;
}
.cart-col--image {
  width: 107px;
  text-align: center;
  margin-right: 25px;
}
.cart-col--product {
  flex-grow: 1;
  flex-shrink: 1;
  margin-right: 30px;
}
@media (max-width: 575.98px) {
  .cart-content--checkout .cart-col--product {
    margin-right: 20px;
  }
}
.cart-col--product .param-adjustments {
  display: flex;
  flex-wrap: wrap;
  font-size: 14px;
  color: #a4c13f;
  margin-top: 5px;
}
.cart-col--product .param-adjustments-item {
  display: inline-block;
  margin: 5px 5px 0 0;
  padding: 2px 10px;
  border: 1px solid #a4c13f;
  border-radius: 2px;
}
@media (max-width: 767.98px) {
  .cart-col--product {
    grid-column: 2/4;
  }
}
.cart-col--price {
  width: 95px;
  margin-right: 40px;
  text-align: right;
}
@media (max-width: 991.98px) {
  .cart-col--price {
    display: none !important;
  }
}
.cart-col--quantity {
  width: 105px;
  text-align: center;
}
@media (min-width: 768px) {
  .cart-col--quantity {
    margin-right: 40px;
  }
}
@media (max-width: 575.98px) {
  .cart-content--checkout .cart-col--quantity {
    width: auto;
    margin-right: 15px;
  }
}
.cart-col--total {
  width: 95px;
  margin-right: 20px;
}
.cart-col--total:last-child {
  margin-right: 58px;
}
@media (max-width: 575.98px) {
  .cart-col--total {
    width: auto;
  }
}
@media (max-width: 575.98px) {
  .cart-content--checkout .cart-col--total {
    width: auto;
    margin-right: 0;
    padding-top: 1px !important;
  }
}
.cart-col--buttons {
  width: 38px;
}
@media (max-width: 767.98px) {
  .cart-col--buttons {
    width: auto;
    align-items: center;
    flex-direction: row;
  }
}
@media (max-width: 430px) {
  .cart-col--buttons {
    flex-direction: column;
  }
}
.cart-row--header .cart-col {
  opacity: 0.9;
  padding: 11px 0;
}
.cart-row--body .cart-col {
  padding-top: 17px;
  min-height: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.cart-row--body .cart-col--image {
  padding-top: 0;
}
@media (min-width: 430px) and (max-width: 767.98px) {
  .cart-row--body .cart-col--buttons {
    flex-direction: row;
  }
}
.cart-content--checkout .cart-row--body .cart-col {
  min-height: 0;
  padding-top: 0;
}
@media (max-width: 767.98px) {
  .cart-row--body .cart-col {
    padding-top: 0;
  }
}
@media (max-width: 430px) {
  .cart-row--body .cart-col--buttons {
    flex-direction: column;
  }
}
.cart-picture {
  display: block;
}
.cart-picture img {
  transition: opacity 0.4s;
}
.cart-picture:hover img {
  opacity: 0.75;
}
.cart-picture:active img {
  opacity: 0.6;
}
.cart-name {
  display: block;
  color: inherit;
  font-size: 18px;
  line-height: 1.3;
  font-weight: 300;
  max-width: 260px;
}
.cart-content--checkout .cart-name {
  max-width: 100%;
}
@media (max-width: 575.98px) {
  .cart-content--checkout .cart-name {
    font-size: 16px;
  }
}
.cart-price {
  font-size: 18px;
  line-height: 1.2;
  font-weight: 300;
}
.cart-price--bold {
  font-weight: bold;
}
.cart-price--crossed {
  font-size: 15px;
  font-weight: 300;
  text-decoration: line-through;
  color: #878787;
}
.cart-discount {
  font-size: 14px;
  font-weight: 300;
  line-height: 1.6;
  color: #eb4a5b;
}
.cart-quantity {
  display: flex;
  align-items: center;
  border-radius: 6px;
  background-color: #ffffff;
  border: solid 1px #E4E4E4;
  min-height: 33px;
}
.cart-quantity-button {
  min-width: 32px;
  height: 33px;
  margin: -1px;
  background: none;
  box-shadow: none;
  border: solid transparent;
  background-position: center;
  background-repeat: no-repeat;
  transition: background-color 0.4s, border-color 0.4s;
}
.cart-quantity-button--minus {
  border-radius: 6px 0 0 6px;
  border-width: 1px 0 1px 1px;
  background-image: url("../images/cart-minus.svg");
}
.cart-quantity-button--plus {
  border-radius: 0 6px 6px 0;
  border-width: 1px 1px 1px 0;
  background-image: url("../images/cart-plus.svg");
}
.cart-quantity-button:hover {
  border-color: #9f9f9f;
}
.cart-quantity-button:active {
  background-color: #E4E4E4;
}
.cart-quantity-value {
  flex-grow: 1;
  min-width: 10px;
  text-align: center;
  overflow: hidden;
  font-size: 15px;
  line-height: 1.1;
  font-weight: 300;
  text-overflow: ellipsis;
  background: transparent;
  border: none;
  width: 100%;
}
.cart-button {
  color: #9f9f9f;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 38px;
  height: 38px;
  margin-bottom: 10px;
  background-color: #fff;
  border-radius: 19px;
  border: solid 1px #E4E4E4;
  transition: background-color 0.4s, box-shadow 0.4s;
  cursor: pointer;
}
.cart-button:last-child {
  margin-bottom: 0;
}
.cart-button:hover {
  background-color: #e0e0e0;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.35);
}
.cart-button:active, .cart-button:focus {
  background-color: rgba(255, 255, 255, 0.09);
}
.cart-button--fav-in {
  color: #dc3545;
}
@media (max-width: 767.98px) {
  .cart-button {
    margin: 0 15px 0 0;
  }
  .cart-button:last-child {
    margin-right: 0;
  }
}
@media (max-width: 430px) {
  .cart-button {
    margin: 0 0 10px;
  }
}
.cart-total {
  font-size: 18px;
  line-height: 1.25;
}
.cart-total-count {
  font-weight: 300;
  margin-bottom: 9px;
}
.cart-total-price {
  font-weight: bold;
}
.cart-actions {
  padding-top: 25px;
}
@media (min-width: 1200px) {
  .cart-actions .btn {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
  }
}
.cart-back {
  right: 0;
  top: -50px;
  opacity: 0.8;
  font-size: 16px;
  line-height: 1.2;
  position: absolute;
  transition: opacity 0.4s;
}
@media (max-width: 1199.98px) {
  .cart-back {
    position: static;
    margin: 0 0 20px;
  }
}
.cart-back a {
  color: inherit;
  border-bottom: solid 1px rgba(0, 0, 0, 0.32);
  transition: border-color 0.4s;
}
.cart-back:hover {
  opacity: 1;
}
.cart-back:hover a {
  color: inherit;
  border-color: #000000;
}
.cart-back a:active {
  border-color: transparent;
}
.cart-empty {
  padding: 20px;
}

.overtaken {
  position: relative;
}
.overtaken::after {
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  z-index: -1;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 40, 0, 0.3);
}

.checkout-form .form-item {
  text-align: left;
}
.checkout-form .fieldset-wrapper {
  padding-top: 1px;
}
.checkout-form .checkout-legend--div,
.checkout-form legend {
  font-size: 26px;
  line-height: 1.3;
  font-weight: 300;
  margin: 0 0 30px;
  text-align: left;
}
.checkout-form .checkout-legend--div {
  margin-top: 40px;
}
.checkout-form .checkout-pane-payment-information .form-wrapper[id^=edit-payment-information-payment-method] .form-radio {
  cursor: pointer;
  position: relative;
  z-index: 5;
}
.checkout-form .checkout-pane-payment-information .form-wrapper[id^=edit-payment-information-payment-method] .form-radio:hover:not([checked=checked]) ~ label::before {
  border-color: #eb4a5b;
  background-color: white;
}
.checkout-form .checkout-pane-payment-information .form-wrapper[id^=edit-payment-information-payment-method] label {
  font-size: 16px;
}
@media (max-width: 1199.98px) {
  .checkout-form .checkout-pane-payment-information .form-wrapper[id^=edit-payment-information-payment-method] label {
    font-size: 20px;
  }
}
.checkout-form .checkout-pane-payment-information .form-wrapper[id^=edit-payment-information-payment-method] input[checked=checked] ~ label::before {
  border-color: #eb4a5b;
  background-color: white;
}
.checkout-form .checkout-pane-payment-information .form-wrapper[id^=edit-payment-information-payment-method] input[value=synpay] ~ label::after,
.checkout-form .checkout-pane-payment-information .form-wrapper[id^=edit-payment-information-payment-method] input[value$=card] ~ label::after {
  background-image: url("../images/payment-method-card.svg");
}
.checkout-form .checkout-pane-payment-information .form-wrapper[id^=edit-payment-information-payment-method] input[value$=qr] ~ label::after {
  background-image: url("../images/payment-method-qr.svg");
}
.checkout-form .checkout-pane-payment-information .form-wrapper[id^=edit-payment-information-payment-method] input[value$=cash] ~ label::after {
  background-image: url("../images/payment-method-cash.svg");
}
.checkout-complete {
  font-size: 18px;
  line-height: 1.35;
  padding: 30px 25px;
  background-color: #ffffff;
}
.checkout-complete-title {
  font-weight: bold;
  margin-bottom: 25px;
}
.checkout-complete-text {
  font-weight: 300;
}
/*# sourceMappingURL=_maps/cart.css.map */
