{{ attach_library('syncart/cart-small') }}
{{ attach_library('syncart/cart') }}
{{ attach_library('syncart/favorite') }}
<div id="cart-favorite-small" class="cart-small">
  <favorite-small>
    <div class="cart-small-item cart-small-item--favorites" v-show="ready" style="display: none;">
      <a href="{{ path('syncart.favorites') }}" class="cart-small-icon cart-small-icon--favorites">
        {% if data.design == 'store' %}
        {% include data.synlanding ~ '/assets/images/icons/favorites-small.svg' %}
        {% elseif data.design == 'clothes' %}
        {% include data.synlanding ~ '/assets/images/icons/clothes-favorites-small.svg' %}
        {% else %}
        {% include data.syncart ~ '/assets/images/favorites-small.svg' %}
        {% endif %}
        <div class="cart-small-count" v-if="total > 0">
          ${ total }
        </div>
      </a>
    </div>
  </favorite-small>
  {% if data.allowFavorite %}{% endif %}
  <cart-small>
    <div class="cart-small-item" v-show="ready" style="display: none;">
      <a href="{{ path('syncart.cart_controller_cart') }}" class="cart-small-icon cart-small-icon--cart">
        {% if data.design == 'store' %}
        {% include data.synlanding ~ '/assets/images/icons/cart-small.svg' %}
        {% elseif data.design == 'clothes' %}
        {% include data.synlanding ~ '/assets/images/icons/clothes-cart-small.svg' %}
        {% else %}
        {% include data.syncart ~ '/assets/images/cart-small.svg' %}
        {% endif %}
        <div class="cart-small-count" v-if="cart.quantity > 0">
          ${ cart.quantity }
        </div>
      </a>
      <div class="cart-small-content">
        <ul class="list">
          <li class="list-item">
            {{ 'Count'|t }}:
            <span>${ cart.quantity }</span>
          </li>
          <li class="list-item">
            {{ 'Total'|t }}: ${ cart.full_price }
          </li>
          <li class="list-item">
            <a href="{{ path('syncart.cart_checkout') }}">
              {{ 'Checkout'|t }}
            </a>
          </li>
        </ul>
      </div>
    </div>
  </cart-small>
</div>
