{{ attach_library('syncart/cart-field') }}

<cart-field :pid="{{ data.product.id() }}" :uid="{{ data.uid }}" :settings="{{ data.settings|json_encode() }}" :variations="{{ data.prices|json_encode() }}" :attributes="{{ data.attributes|json_encode() }}">
	<div class="variations" v-show="ready" style="display:none" :class="{'variations--full': settings.fullstate, overtaken}">
		<div class="variations-wrapper">
			<div class="variations-price" v-if="!settings.donation">
				<div class="variations-price__old" v-show="old_price" v-html="old_price"></div>
				<div class="variations-price__current" v-if="variations.length != 0">
					<span v-if="settings.prefix == 1">
						От
					</span>
					${ total_price }
					<span class="variations-unit" v-if="settings.unit">
						/ ${ settings.unit }</span>
				</div>
			</div>
			<div class="variations-price" v-else>
				<input type="number" v-model="donation" @keypress="numbersOnly" min="1">
			</div>

			<template v-for="(value, key) in settings.widget">
				<div :class="key" :data-price="price_number" v-if="value && settings.fullstate"></div>
			</template>

			<div class="variations-parameters" v-if="settings.fullstate">
				<div class="variations-parameter" v-for="(attribute, index) in attributes">
					<div class="variations-parameter__label" tabindex="0">
						${ index }
					</div>
					<ul class="variations-parameter__list">
						<li class="variations-parameter__item" v-for="attr in attribute" v-on:click="selectAttribute(attr.id, index)" :class="attributeClasses(attr)" :data-content="!attr.value ? attr.name : ''" tabindex="0">
							<span v-if="!attr.value">
								${ attr.name }
							</span>
							<span v-if="attr.value" class="variations-parameter__color" :style="{ background: attr.value.color }" :title="attr.name">
								&nbsp;
							</span>
						</li>
					</ul>
				</div>
			</div>
			<div class="variations-parameters" v-if="settings.fullstate && isEmptyObject(attributes)">
				<div class="variations-parameter" v-for="variation in variations">
					<ul class="variations-parameter__list">
						<li class="variations-parameter__item" v-if="!variation.attributes.length && variations.length > 1" v-on:click="selectVariation(variation)" :class="{'variations-parameter__item--active' : vid == variation.vid}" tabindex="0">
							${ variation.title }
						</li>
					</ul>
				</div>
			</div>
			<div class="variations-store" v-if="stores">
				<div class="variations-parameter__label">Наличие в магазинах</div>
				<div class="variations-parameter" v-for="store in stores">
					${ store.name } - ${ store.quantity }
				</div>
			</div>
			<div class="variations-empty" v-if="variations.length == 0">
				{{ data.settings.novariation }}
			</div>

			<div class="features" v-if="settings.fullstate && settings.features && settings.features.length">
				<div class="feature" v-for="feature in settings.features">
					<div class="feature-title" v-html="feature.title"></div>
					<div class="feature-select" v-if="feature.widget == 'select'">
						<select v-model="selected_features[feature.id]" :data-feature_id="feature.id">
							<option v-if="feature.none" value="none" selected>${feature.none}</option>
							<option v-for="product in feature.products" :value="product.id" :data-feature_id="feature.id" :data-product_id="product.id">${product.title} ${getFormattedPrice(product.price_number)}</option>
						</select>
					</div>
					<div class="feature-checkboxes" v-if="feature.widget == 'checkboxes'">
						<div class="feature-checkbox" v-for="product in feature.products">
							<input type="checkbox" :value="product.id" :id="'feature-' + feature.id + '-' + product.id" v-model="selected_features[feature.id + '-' + product.id]" :data-feature_id="feature.id" :data-product_id="product.id">
							<label class="form-check-label" :for="'feature-' + feature.id + '-' + product.id">${product.title} ${getFormattedPrice(product.price_number)}</label>
						</div>
					</div>
				</div>
			</div>

			<div class="variations-empty" v-if="!availability">
				{{ 'Not available'|t }}
			</div>
			<div class="variations-button" v-else-if="showGoToProductButton">
				<a href="{{ path('entity.commerce_product.canonical', {'commerce_product': data.product.id()}) }}" class="btn btn--cart" title="{{ 'Go to product'|t }}">
					{{ 'Go to product'|t }}
					<svg width="24" height="24" viewbox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path d="M23.79 5.4555C23.6119 5.2365 23.3447 5.10938 23.0625 5.10938H6.08137L6.01181 4.47038L6.00933 4.44984C5.67652 1.91306 3.49608 0 0.9375 0C0.419719 0 0 0.419719 0 0.9375C0 1.45528 0.419719 1.875 0.9375 1.875C2.55497 1.875 3.93389 3.08198 4.149 4.68412L5.26336 14.9217C4.28883 15.364 3.60938 16.3463 3.60938 17.4844C3.60938 17.4922 3.60947 17.5 3.60966 17.5078C3.60947 17.5156 3.60938 17.5234 3.60938 17.5312C3.60938 19.0821 4.87106 20.3438 6.42188 20.3438H6.80334C6.708 20.6233 6.65625 20.9229 6.65625 21.2344C6.65625 22.7593 7.89689 24 9.42188 24C10.9469 24 12.1875 22.7593 12.1875 21.2344C12.1875 20.9229 12.1357 20.6233 12.0404 20.3438H16.0846C15.9893 20.6233 15.9375 20.9229 15.9375 21.2344C15.9375 22.7593 17.1782 24 18.7032 24C20.2282 24 21.4688 22.7593 21.4688 21.2344C21.4688 19.7094 20.2282 18.4688 18.7032 18.4688H6.42188C5.90494 18.4688 5.48438 18.0482 5.48438 17.5312C5.48438 17.5234 5.48428 17.5156 5.48409 17.5078C5.48428 17.5 5.48438 17.4922 5.48438 17.4844C5.48438 16.9674 5.90494 16.5469 6.42188 16.5469H18.3905C20.0547 16.5469 21.582 15.5172 22.2814 13.9237C22.4895 13.4496 22.2739 12.8965 21.7998 12.6884C21.3257 12.4803 20.7727 12.696 20.5645 13.17C20.1703 14.0684 19.2966 14.6719 18.3905 14.6719H7.12223L6.28547 6.98438H21.9093L21.4506 9.18356C21.3449 9.69042 21.67 10.187 22.1769 10.2927C22.2414 10.3062 22.3058 10.3127 22.3693 10.3127C22.8039 10.3127 23.1938 10.0087 23.286 9.56644L23.9802 6.23831C24.0379 5.96203 23.968 5.6745 23.79 5.4555ZM18.7031 20.3438C19.1942 20.3438 19.5938 20.7433 19.5938 21.2344C19.5938 21.7255 19.1942 22.125 18.7031 22.125C18.212 22.125 17.8125 21.7255 17.8125 21.2344C17.8125 20.7433 18.212 20.3438 18.7031 20.3438ZM9.42188 20.3438C9.91298 20.3438 10.3125 20.7433 10.3125 21.2344C10.3125 21.7255 9.91298 22.125 9.42188 22.125C8.93077 22.125 8.53125 21.7255 8.53125 21.2344C8.53125 20.7433 8.93077 20.3438 9.42188 20.3438Z"/>
					</svg>
				</a>
			</div>
			<div v-else>
				<div class="variations-button" :class="{'variations-button--full': settings.fullstate}">
					<div class="variations-quantity" :class="{'variations-quantity-disabled': !vid}" v-if="showQuantityWidget">
						<button type="button" @click="changeVariationQuantity('minus')" class="variations-quantity-button variations-quantity-button--minus">
							<svg width="15" height="1" viewbox="0 0 15 1" fill="none" xmlns="http://www.w3.org/2000/svg">
								<line x1="0.5" y1="0.5" x2="14.5" y2="0.5" stroke="white" stroke-linecap="round"/>
							</svg>
						</button>
						<input class="variations-quantity-value" type="text" v-model="quantity" @keypress="numbersOnly" @blur="setVariationQuantity()"/>
						<button type="button" @click="changeVariationQuantity('plus')" class="variations-quantity-button variations-quantity-button--plus">
							<svg width="15" height="15" viewbox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg">
								<line x1="0.5" y1="7.5" x2="14.5" y2="7.5" stroke="white" stroke-linecap="round"/>
								<line x1="7.5" y1="14.5" x2="7.5" y2="0.5" stroke="white" stroke-linecap="round"/>
							</svg>
						</button>
					</div>
					<button class="btn btn--cart" title="{{ 'Add to cart'|t }}" v-on:click="addToCart()" :class="{'btn--loading': loading, disabled: !vid}" v-if="showAddToCartButton">
						{{ 'Add to cart'|t }}
						<svg width="24" height="24" viewbox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
							<path d="M23.79 5.4555C23.6119 5.2365 23.3447 5.10938 23.0625 5.10938H6.08137L6.01181 4.47038L6.00933 4.44984C5.67652 1.91306 3.49608 0 0.9375 0C0.419719 0 0 0.419719 0 0.9375C0 1.45528 0.419719 1.875 0.9375 1.875C2.55497 1.875 3.93389 3.08198 4.149 4.68412L5.26336 14.9217C4.28883 15.364 3.60938 16.3463 3.60938 17.4844C3.60938 17.4922 3.60947 17.5 3.60966 17.5078C3.60947 17.5156 3.60938 17.5234 3.60938 17.5312C3.60938 19.0821 4.87106 20.3438 6.42188 20.3438H6.80334C6.708 20.6233 6.65625 20.9229 6.65625 21.2344C6.65625 22.7593 7.89689 24 9.42188 24C10.9469 24 12.1875 22.7593 12.1875 21.2344C12.1875 20.9229 12.1357 20.6233 12.0404 20.3438H16.0846C15.9893 20.6233 15.9375 20.9229 15.9375 21.2344C15.9375 22.7593 17.1782 24 18.7032 24C20.2282 24 21.4688 22.7593 21.4688 21.2344C21.4688 19.7094 20.2282 18.4688 18.7032 18.4688H6.42188C5.90494 18.4688 5.48438 18.0482 5.48438 17.5312C5.48438 17.5234 5.48428 17.5156 5.48409 17.5078C5.48428 17.5 5.48438 17.4922 5.48438 17.4844C5.48438 16.9674 5.90494 16.5469 6.42188 16.5469H18.3905C20.0547 16.5469 21.582 15.5172 22.2814 13.9237C22.4895 13.4496 22.2739 12.8965 21.7998 12.6884C21.3257 12.4803 20.7727 12.696 20.5645 13.17C20.1703 14.0684 19.2966 14.6719 18.3905 14.6719H7.12223L6.28547 6.98438H21.9093L21.4506 9.18356C21.3449 9.69042 21.67 10.187 22.1769 10.2927C22.2414 10.3062 22.3058 10.3127 22.3693 10.3127C22.8039 10.3127 23.1938 10.0087 23.286 9.56644L23.9802 6.23831C24.0379 5.96203 23.968 5.6745 23.79 5.4555ZM18.7031 20.3438C19.1942 20.3438 19.5938 20.7433 19.5938 21.2344C19.5938 21.7255 19.1942 22.125 18.7031 22.125C18.212 22.125 17.8125 21.7255 17.8125 21.2344C17.8125 20.7433 18.212 20.3438 18.7031 20.3438ZM9.42188 20.3438C9.91298 20.3438 10.3125 20.7433 10.3125 21.2344C10.3125 21.7255 9.91298 22.125 9.42188 22.125C8.93077 22.125 8.53125 21.7255 8.53125 21.2344C8.53125 20.7433 8.93077 20.3438 9.42188 20.3438Z"/>
						</svg>
					</button>
					<a href="{{ path('syncart.cart_controller_cart') }}" class="btn btn--cart btn--cart-added" title="{{ 'Go to cart'|t }}" v-if="showGoToCartButton">
						{{ 'Go to cart'|t }}
						<svg width="24" height="24" viewbox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path d="M23.79 5.4555C23.6119 5.2365 23.3447 5.10938 23.0625 5.10938H6.08137L6.01181 4.47038L6.00933 4.44984C5.67652 1.91306 3.49608 0 0.9375 0C0.419719 0 0 0.419719 0 0.9375C0 1.45528 0.419719 1.875 0.9375 1.875C2.55497 1.875 3.93389 3.08198 4.149 4.68412L5.26336 14.9217C4.28883 15.364 3.60938 16.3463 3.60938 17.4844C3.60938 17.4922 3.60947 17.5 3.60966 17.5078C3.60947 17.5156 3.60938 17.5234 3.60938 17.5312C3.60938 19.0821 4.87106 20.3438 6.42188 20.3438H6.80334C6.708 20.6233 6.65625 20.9229 6.65625 21.2344C6.65625 22.7593 7.89689 24 9.42188 24C10.9469 24 12.1875 22.7593 12.1875 21.2344C12.1875 20.9229 12.1357 20.6233 12.0404 20.3438H16.0846C15.9893 20.6233 15.9375 20.9229 15.9375 21.2344C15.9375 22.7593 17.1782 24 18.7032 24C20.2282 24 21.4688 22.7593 21.4688 21.2344C21.4688 19.7094 20.2282 18.4688 18.7032 18.4688H6.42188C5.90494 18.4688 5.48438 18.0482 5.48438 17.5312C5.48438 17.5234 5.48428 17.5156 5.48409 17.5078C5.48428 17.5 5.48438 17.4922 5.48438 17.4844C5.48438 16.9674 5.90494 16.5469 6.42188 16.5469H18.3905C20.0547 16.5469 21.582 15.5172 22.2814 13.9237C22.4895 13.4496 22.2739 12.8965 21.7998 12.6884C21.3257 12.4803 20.7727 12.696 20.5645 13.17C20.1703 14.0684 19.2966 14.6719 18.3905 14.6719H7.12223L6.28547 6.98438H21.9093L21.4506 9.18356C21.3449 9.69042 21.67 10.187 22.1769 10.2927C22.2414 10.3062 22.3058 10.3127 22.3693 10.3127C22.8039 10.3127 23.1938 10.0087 23.286 9.56644L23.9802 6.23831C24.0379 5.96203 23.968 5.6745 23.79 5.4555ZM18.7031 20.3438C19.1942 20.3438 19.5938 20.7433 19.5938 21.2344C19.5938 21.7255 19.1942 22.125 18.7031 22.125C18.212 22.125 17.8125 21.7255 17.8125 21.2344C17.8125 20.7433 18.212 20.3438 18.7031 20.3438ZM9.42188 20.3438C9.91298 20.3438 10.3125 20.7433 10.3125 21.2344C10.3125 21.7255 9.91298 22.125 9.42188 22.125C8.93077 22.125 8.53125 21.7255 8.53125 21.2344C8.53125 20.7433 8.93077 20.3438 9.42188 20.3438Z"/>
						</svg>
					</a>
				</div>
			</div>
			<div class="variations-message" v-if="!vid">Выберите все параметры:
				<template v-for="(attribute, key,index) in attributes">
					<span>${key}</span>
					<span v-if="index != Object.keys(attributes).length - 1">,
					</span>
				</template>
			</div>
		</div>
	</div>
</cart-field>
