{{ attach_library('syncart/cart') }}

<div id="app-cart">
  <cart>
    <div class="cart">
      <div class="cart-left">
        <div class="cart-content">
          <div class="cart-empty" v-show="isEmpty(cart.items)" style="display: none">
            {{ 'Cart empty'|t }}
          </div>
          <div class="cart-row cart-row--header" v-show="!isEmpty(cart.items)">
            <div class="cart-col cart-col--image"></div>
            <div class="cart-col cart-col--product">
              {{ 'Product'|t }}
            </div>
            <div class="cart-col cart-col--price">
              {{ 'Price'|t }}
            </div>
            <div class="cart-col cart-col--quantity">
              {{ 'Quantity'|t }}
            </div>
            <div class="cart-col cart-col--total">
              {{ 'Total'|t }}
            </div>
            <div class="cart-col cart-col--buttons"></div>
          </div>
          <div class="preloader preloader--transparent preloader--small" v-show="!ready && !isEmpty(cart.items)"></div>
          <div class="cart-items" v-show="ready" style="display: none;">
            <div class="cart-row--body" v-for="group in cart.groups">
              <template v-for="item in cart.items">
                <div class="cart-row" :class="(item.quantity > item.stock && item.checkstore) ? 'overtaken' : ''"
                      v-if="group == item.group">
                  <div class="cart-col cart-col--image">
                    <a :href="item.url" class="cart-picture">
                      <img v-show="item.picture" v-bind:src="item.picture" v-bind:alt="item.title" />
                    </a>
                  </div>
                  <div class="cart-col cart-col--product">
                    <a :href="item.url" class="cart-name">
                      ${ getProductName(item) }
                    </a>
                    <div class="param-article" v-if="item.article">
                      Артикул: ${ item.article }
                    </div>
                    <div class="param-attributes" v-for="attribute in item.attributes[0]">
                      ${ attribute.label }: ${ attribute.name }
                    </div>
                    <div class="param-adjustments" v-if=item.adjustments>
                      <div class="param-adjustments-item" v-for="adjustment in item.adjustments">
                        <template v-if="adjustment.number != 0">
                          ${ adjustment.label } ${ adjustment.amount }
                        </template>
                        <template v-else>
                          ${ adjustment.label }
                        </template>
                      </div>
                    </div>
                    <div class="param-note" v-if="cart.note">
                      Примечание к позиции заказа
                      <input class="order-item-note-value" type="text" v-model="item.data_note" @blur="setItemNote(item)" />
                    </div>
                  </div>
                  <div class="cart-col cart-col--price">
                    <div class="cart-price">
                      ${ getFormattedItemPrice(item) }
                    </div>
                  </div>
                  <div class="cart-col cart-col--quantity">
                    <div class="cart-quantity">
                      <button type="button" @click="changeItemQuantity('minus', item)" class="cart-quantity-button cart-quantity-button--minus" v-if=!item.data_promo></button>
                      <input class="cart-quantity-value" type="text" v-model="quantities[item.id]" @keypress="numbersOnly" @blur="setItemQuantity(item)" />
                      <button type="button" @click="changeItemQuantity('plus', item)" class="cart-quantity-button cart-quantity-button--plus" v-if=!item.data_promo :class="item.quantity == item.stock ? 'cart-quantity-button--disabled' : ''"></button>
                    </div>
                  </div>
                  <div class="cart-col cart-col--total">
                    <div class="cart-price cart-price--bold">
                      ${ getFormattedItemAmount(item) }
                    </div>
                    <template v-if="!adjustmentEmpty(item)">
                      <div class="cart-price cart-price--crossed">
                        ${ getFormattedItemTotalPrice(item) }
                      </div>
                      <div class="cart-discount" v-if="getCorrectionAmount(item) < 0">
                        {{ 'Discount'|t }} <span>${ getFormattedCorrectionAmount(item) } </span>
                      </div>
                      <div class="cart-surcharge" v-if="getCorrectionAmount(item) > 0">
                        {{ 'Surcharge'|t }} <span>${ getFormattedCorrectionAmount(item) } </span>
                      </div>
                    </template>
                  </div>
                  <div class="cart-col cart-col--buttons" v-if=!item.data_promo>
                    <div class="cart-button cart-button--remove" @click="removeItem(item.id)">
                      <i class="far fa-trash-alt"></i>
                    </div>
                    <favorite-field :pid="item.pid"></favorite-field>
                  </div>
                </div>
              </template>
            </div>
          </div>
        </div>
      </div>
      <div class="cart-sidebar" v-show="!isEmpty(cart.items)">
        <div class="cart-back">
          <a href="{{ path('view.catalog.page') }}">
            {{ 'Back to shopping'|t }}
          </a>
        </div>
        <div class="cart-sidebar-content">
          <div class="preloader preloader--transparent preloader--small" v-show="!ready"></div>
          <div class="cart-total" v-show="ready" style="display: none;">
            <div class="cart-total-count">
              {{ 'Products count'|t }}: ${ cart.quantity }
            </div>
            <div class="cart-total-price total-price-subtotal">
              {{ 'Subtotal'|t }}: ${ cart.full_price }
            </div>
            <div class="cart-total-promotion total-price-total" v-if="cart.promotion">
              {{ 'Discount'|t }}: ${ cart.promosum }
            </div>
            <div class="cart-total-price total-price-total">
              {{ 'Total'|t }}: ${ cart.total }
            </div>
          </div>
          <div class="cart-actions" v-if="cart.quantity" v-show="ready" style="display: none;">
            <button class="btn btn--main" @click.prevent="checkQuantities">
              {{ 'Proceed to Checkout'|t }}
            </button>
          </div>
        </div>
      </div>
    </div>
  </cart>
</div>
