{#
/**
 * @file
 * Template for orders in the 'user' view mode.
 *
 * Available variables:
 * - attributes: HTML attributes for the wrapper.
 * - order: The rendered order fields.
 *   Use 'order' to print them all, or print a subset such as
 *   'order.order_number'. Use the following code to exclude the
 *   printing of a given field:
 *   @code
 *   {{ order|without('order_number') }}
 *   @endcode
 * - order_entity: The order entity.
 *
 * @ingroup themeable
 */
#}
<div{{ attributes }}>
  <div class="customer-information">
    {{ order.mail }}
    {% if order.shipping_information %}
      <div class="customer-information__shipping">
        <div class="field__label">{{ 'Shipping information'|t }}</div>
        {{ order.shipping_information }}
      </div>
    {% endif %}
    {% if order.billing_information %}
      <div class="customer-billing">
        <div class="field__label">{{ 'Billing information'|t }}</div>
        {{ order.billing_information }}
      </div>
    {% endif %}
  </div>
  <div class="order-information">
    {{ order.completed }}
    {{ order.placed }}
    {{ order.state }}
    {{ order.order_items }}
    {{ order.total_price }}
  </div>
  {% if repeat_order %}
    <div>
      <a class="btn btn--main" href="/cart-repeat-order/{{ order_entity.id() }}">{{ 'Repeat order'|t }}</a>
    </div>
  {% endif %}
  {{ order|without('order_items', 'total_price', 'activity',
    'billing_information', 'shipping_information', 'order_state',
    'completed', 'placed', 'changed', 'uid', 'mail', 'ip_address',
    'state'
  ) }}
</div>
