{#
/**
 * @file
 * Default theme implementation for the completion message.
 *
 * Available variables:
 * - order_entity: The order entity.
 * - payment_instructions: The payment instructions, if provided.
 *
 * @ingroup themeable
 */
#}

{% if order_entity.type.target_id == 'pos' %}
  <div class="checkout-complete">
    <div class="checkout-complete-title">
      {{ 'Your order number'|t }}
    </div>
    <div class="checkout-complete-number">
      {{ '@number'|t({'@number': order_entity.getOrderNumber}) }}
    </div>
    <div class="checkout-complete-description">
      {{ 'Please contact in case of issue and wait for your order.'|t }}
    </div>
    <div class="checkout-complete-text">
      {{ 'This device does not have a receipt printer, remember or take a photo of the number.'|t }}
    </div>
    <a href="/catalog" class="btn btn--main btn--big">{{ 'New order'|t }}</a>
    {% if payment_instructions %}
    <div class="checkout-complete__payment-instructions">
      <h2>{{ 'Payment instructions'|t }}</h2>
      {{ payment_instructions }}
    </div>
    {% endif %}
  </div>
{% else %}
  <div class="checkout-complete">
    <div class="checkout-complete-title">
      {{ 'Your order is assigned a number: @number'|t({'@number': order_entity.getOrderNumber}) }}
    </div>
    <div class="checkout-complete-text">
      {{ 'A notification with the details of the order has been sent to your e-mail address.'|t }}
    </div>
    {% if payment_instructions %}
      <div class="checkout-complete__payment-instructions">
        <h2>{{ 'Payment instructions'|t }}</h2>
        {{ payment_instructions }}
      </div>
    {% endif %}
  </div>
{% endif %}
