{#
/**
 * @file
 * Template for the order receipt.
 *
 * Available variables:
 * - order_entity: The order entity.
 * - billing_information: The billing information.
 * - shipping_information: The shipping information.
 * - payment_method: The payment method.
 * - totals: An array of order totals values with the following keys:
 *   - subtotal: The order subtotal price.
 *   - adjustments: An array of adjustment totals:
 *     - type: The adjustment type.
 *     - label: The adjustment label.
 *     - total: The adjustment total price.
 *     - weight: The adjustment weight, taken from the adjustment type.
 *   - total: The order total price.
 *
 * @ingroup themeable
 */
#}
<table style="margin: 15px auto 0 auto; max-width: 768px; font-family: arial,sans-serif">
  <tbody>
    <tr>
      <td>
        <table style="margin-left: auto; margin-right: auto; max-width: 768px; text-align: center;">
          <tbody>
            <tr>
              <td>
                <a href="{{ url('<front>') }}" style="color: #0e69be; text-decoration: none; font-weight: bold; margin-top: 15px;">{{ order_entity.getStore.label }}</a>
              </td>
            </tr>
          </tbody>
        </table>
        <table style="text-align: center; min-width: 450px; margin: 5px auto 0 auto; border: 1px solid #cccccc; border-radius: 5px; padding: 40px 30px 30px 30px;">
          <tbody>
            <tr>
              <td style="font-size: 30px; padding-bottom: 30px">{{ 'Order Confirmation'|t }}</td>
            </tr>
            <tr>
              <td style="font-weight: bold; padding-top:15px; padding-bottom: 15px; text-align: left; border-top: 1px solid #cccccc; border-bottom: 1px solid #cccccc">
                <a href="{{ checkout_url }}" style="color: #0e69be; text-decoration: none; font-weight: bold; margin-top: 15px;">
                  {{ 'Order #@number details:'|t({'@number': order_entity.getOrderNumber}) }}
                </a>
              </td>
            </tr>
            <tr>
              <td>
                {% block order_items %}
                  <table style="padding-top: 15px; padding-bottom: 15px; width: 100%; border: 1px solid black; border-collapse: collapse;">
                    <thead>
                      <tr>
                        <th style="border: 1px solid black;">Фото</th>
                        <th style="border: 1px solid black;">Товар</th>
                        <th style="border: 1px solid black;">Кол-во</th>
                        <th style="border: 1px solid black;">Цена</th>
                        <th style="border: 1px solid black;">Итого</th>
                      </tr>
                    </thead>
                    <tbody style="text-align: left;">
                      {% for order_item in order_entity.getItems %}
                        <tr>
                          <td style="border: 1px solid black;">
                            <img src="{{ item_image[order_item.id] }}">
                          </td>
                          <td style="border: 1px solid black;">
                            <span style="font-size: 1.2em;">{{ order_item.getPurchasedEntity.getProduct.title.value }}</span><br>
                            {% if order_item.getPurchasedEntity.getProduct.field_article.value %}
                              <span style="margin-left: 15px;">Артикул:
                                {{ order_item.getPurchasedEntity.getProduct.field_article.value }}</span><br>
                            {% endif %}
                            {% for attributes in order_item.getPurchasedEntity.getAttributeValues %}
                              <span style="margin-left: 15px;">{{ attributes.getAttribute.label }}
                                :
                                {{ attributes.name.value }}</span>
                            {% endfor %}
                            {% if order_item.getData('note') %}
                              <span style="margin-left: 15px;">Примечание:
                                {{ order_item.getData('note') }}</span><br>
                            {% endif %}
                          </td>
                          <td style="border: 1px solid black; text-align: center;">
                            {{ order_item.getQuantity }}
                          </td>
                          <td style="border: 1px solid black;">
                            <span style="float: right;">{{ order_item.getUnitPrice|commerce_price_format }}</span>
                          </td>
                          <td style="border: 1px solid black;">
                            <span style="float: right;">{{ order_item.getTotalPrice|commerce_price_format }}</span>
                          </td>
                        </tr>
                        <tr>
                          <td>
                            Комплектация:
                          </td>
                          <td>
                            {% for adjustment in order_item.getAdjustments %}
                              <p style="margin-bottom: 0;">
                                {{ adjustment.label }}:
                                {{ adjustment.total|commerce_price_format }}
                              </p>
                            {% endfor %}
                          </td>
                        </tr>
                      {% endfor %}
                    </tbody>
                  </table>
                {% endblock %}
              </td>
            </tr>
            <tr>
              <td>
                {% if (billing_information or shipping_information) %}
                  <table style="width: 100%; padding-top:15px; padding-bottom: 15px; text-align: left; border-top: 1px solid #cccccc; border-bottom: 1px solid #cccccc">
                    <tbody>
                      <tr>
                        {% if shipping_information %}
                          <td style="padding-top: 5px; font-weight: bold;">{{ 'Shipping Information'|t }}</td>
                        {% endif %}
                        {% if billing_information %}
                          <td style="padding-top: 5px; font-weight: bold;">{{ 'Billing Information'|t }}</td>
                        {% endif %}
                      </tr>
                      <tr>
                        {% if shipping_information %}
                          <td>
                            {% block shipping_information %}
                              {{ shipping_information }}
                            {% endblock %}
                          </td>
                        {% endif %}
                        {% if billing_information %}
                          <td>
                            {% block billing_information %}
                              {{ billing_information }}
                            {% endblock %}
                          </td>
                        {% endif %}
                      </tr>
                      {% if payment_method %}
                        <tr>
                          <td style="font-weight: bold; margin-top: 10px;">{{ 'Payment Method'|t }}</td>
                        </tr>
                        <tr>
                          <td>
                            {% block payment_method %}
                              {{ payment_method }}
                            {% endblock %}
                          </td>
                        </tr>
                      {% endif %}
                    </tbody>
                  </table>
                {% endif %}
              </td>
            </tr>
            <tr>
              <td>
                <p style="font-size: 24px; padding-top: 15px; padding-bottom: 5px;">
                  {{ 'Total:'|t }}
                  {{ '@total'|t({'@total': order_entity.getTotalPrice|commerce_price_format}) }}
                </p>
              </td>
            </tr>
            <tr>
              <td>
                {% block additional_information %}
                  {{ 'Thank you for your order!'|t }}
                {% endblock %}
              </td>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>
  </tbody>
</table>
