{#
/**
 * @file
 * Two column template for the checkout form.
 *
 * Available variables:
 * - form: The form.
 *
 * @ingroup themeable
 */
#}
<div class="checkout">


	{% if form['#step_id'] != 'complete' and form['#order_type'] != 'pos' %}
		{{ attach_library('syncart/cart') }}
		<div id="app-cart">
			<cart>
				<div class="cart">
					<div class="cart-left">
						<div class="cart-content cart-content--checkout">
							<div class="cart-empty" v-show="isEmpty(cart.items)" style="display: none">
								{{ 'Cart empty'|t }}
							</div>
							<div class="cart-row cart-row--header" v-show="!isEmpty(cart.items)">
								<div class="cart-col cart-col--product">
									{{ 'Product'|t }}
								</div>
								<div class="cart-col cart-col--price">
									{{ 'Price'|t }}
								</div>
								<div class="cart-col cart-col--quantity">
									{{ 'Quantity'|t }}
								</div>
								<div class="cart-col cart-col--total">
									{{ 'Total'|t }}
								</div>
							</div>
							<div class="preloader preloader--transparent preloader--small" v-show="!ready && !isEmpty(cart.items)"></div>
							<div class="cart-items" v-show="ready && !isEmpty(cart.items)" style="display: none;">
								<div class="cart-row cart-row--body" v-for="item in cart.items">
									<div class="cart-col cart-col--product">
										<a :href="item.url" class="cart-name">
											${ getProductName(item) }
										</a>
										<div class="param-article" v-if="item.article">
											Артикул: ${ item.article }
										</div>
										<div class="param-attributes" v-for="attribute in item.attributes[0]">
											${ attribute.label }: ${ attribute.name}
										</div>
										<div class="param-adjustments" v-if="item.adjustments.length">
											<div class="param-adjustments-item" v-for="adjustment in item.adjustments">
												${ adjustment.label }
											</div>
										</div>
										<div class="param-note" v-if="item.data_note">
											${ item.data_note }
										</div>
									</div>
									<div class="cart-col cart-col--price">
										<div class="cart-price">
											${ getFormattedItemPrice(item) }
										</div>
									</div>
									<div class="cart-col cart-col--quantity">
										${ numberFormat(item.quantity, item.qstep) }
									</div>
									<div class="cart-col cart-col--total">
										<div class="cart-price cart-price--bold">
											${ getFormattedItemAmount(item) }
										</div>

									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="cart-sidebar" v-show="!isEmpty(cart.items)" style="display: none">
						<div class="cart-sidebar-content">
							<div class="preloader preloader--transparent preloader--small" v-show="!ready"></div>
							<div class="cart-total" v-show="ready" style="display: none;">
								<div class="cart-total-count">
									{{ 'Products count'|t }}: ${ cart.quantity }
								</div>
								<div class="cart-total-price" v-if="isEmpty(cart.adjustments) && !cart.promotion">
									{{ 'Total'|t }}: ${ cart.price }
								</div>
								<template v-if="!isEmpty(cart.adjustments) || cart.promotion">
									<div class="cart-total-price total-price-subtotal">
										{{ 'Subtotal'|t }}: ${ cart.full_price }
									</div>
									<div class="cart-total-promotion total-price-total" v-if="cart.promotion">
										{{ 'Discount'|t }}: ${ cart.promosum }
									</div>
									<div v-for="adjustment in cart.adjustments" class="cart-total-adjustment" v-show=" !adjustment.is_included">
										<i>${ adjustment.label }:</i>
										${ adjustment.price }
									</div>
									<div class="cart-total-price total-price-total">
										{{ 'Total'|t }}: ${ cart.total }
									</div>
								</template>
							</div>
						</div>
					</div>
				</div>
			</cart>
		</div>
		{% if form.order_summary %}{% endif %}
	{% endif %}

	<div class="checkout-form">
		{{ form|without('order_summary') }}
	</div>
</div>
