{{ attach_library('catalog/catalog') }}
{{ attach_library('catalog/common') }}
{{ attach_library('syncart/favorite') }}
{{ attach_library('catalog/change-view') }}

{% if data.products|length == 0 %}
	<div class="messages messages--error">
		{{ 'You have not added any products to favorites yet.'|t }}
	</div>
{% else %}
	<div class="favorites {{ 'favorites--' ~ data.layout }}">
		<div id="favorites">
			<favorites :ids="{{ data.information.ids }}">
				<div class="cart-sidebar">
					<div class="preloader preloader--small" v-show="loading" style="display: none;"></div>
					<div class="cart-sidebar-content">
						<div class="cart-total">
							<div class="cart-total-count">
								{{ 'Products count'|t }}:
								{{ data.information.count }}
							</div>
							<div class="cart-total-price">
								{{ 'Total'|t }}:
								{{ data.information.price }}
							</div>
						</div>
						<div class="cart-actions" v-show="ready" style="display: none">
							<button type="button" class="btn btn--main" @click="toCart" v-if="!inCart">
								{{ 'Add all items to cart'|t }}
							</button>
							<a href="{{ path('syncart.cart_controller_cart') }}" class="btn btn--main" v-else>
								{{ 'Go to basket'|t }}
							</a>
							<button type="button" class="btn btn--bordered" @click="clearFavorites">
								{{ 'Clear favorites'|t }}
							</button>
						</div>
					</div>
				</div>
			</favorites>
		</div>
		<div class="catalog" id="catalog">
			<div class="catalog-row catalog-row-4">
				{% for product in data.products %}
					<div class="catalog-col">
						{{ product }}
					</div>
				{% endfor %}
			</div>
		</div>
	</div>
{% endif %}
