<favorite-field :data="{{ data | json_encode }}">
	<div class="favorite" :class="mainClasses()">
		<button class="favorite__btn" :class="buttonClasses()" style="display:none" v-show="products_loaded" @click="toggleFav">
			<svg v-if="data.favorites" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewbox="0 0 24 24" fill="none">
				<path d="M19.9355 2.40741H15.6485V0.782625C15.6485 0.350437 15.2981 0 14.8659 0H9.13345C8.70127 0 8.35083 0.350391 8.35083 0.782625V2.40741H4.06387C3.63169 2.40741 3.28125 2.7578 3.28125 3.19003V5.59739C3.28125 6.02958 3.63164 6.38002 4.06387 6.38002H4.30162L5.01694 23.2506C5.03466 23.6695 5.37952 24 5.79881 24H18.2004C18.6198 24 18.9646 23.6695 18.9823 23.2506L19.6976 6.37997H19.9354C20.3676 6.37997 20.718 6.02958 20.718 5.59734V3.19003C20.7181 2.75775 20.3677 2.40741 19.9355 2.40741ZM9.91608 1.5652H14.0833V2.40741H9.91608V1.5652ZM17.4504 22.4348H6.54895L5.86823 6.38002H18.131L17.4504 22.4348ZM19.1528 4.81477C18.4417 4.81477 5.2725 4.81477 4.8465 4.81477V3.97261H19.1528V4.81477Z" fill="#959595"/>
				<path d="M8.85098 8.77979C8.4188 8.77979 8.06836 9.13018 8.06836 9.56241V19.2521C8.06836 19.6843 8.41875 20.0348 8.85098 20.0348C9.28317 20.0348 9.63361 19.6844 9.63361 19.2521V9.56241C9.63356 9.13018 9.28317 8.77979 8.85098 8.77979Z" fill="#959595"/>
				<path d="M12.0014 8.77979C11.5692 8.77979 11.2188 9.13018 11.2188 9.56241V19.2521C11.2188 19.6843 11.5691 20.0348 12.0014 20.0348C12.4336 20.0348 12.784 19.6844 12.784 19.2521V9.56241C12.784 9.13018 12.4336 8.77979 12.0014 8.77979Z" fill="#959595"/>
				<path d="M15.1479 8.77979C14.7157 8.77979 14.3652 9.13018 14.3652 9.56241V19.2521C14.3652 19.6843 14.7156 20.0348 15.1479 20.0348C15.5801 20.0348 15.9305 19.6844 15.9305 19.2521V9.56241C15.9305 9.13018 15.5801 8.77979 15.1479 8.77979Z" fill="#959595"/>
			</svg>
			<svg v-else xmlns="http://www.w3.org/2000/svg" width="23px" height="23px" viewbox="0 0 48 48">
				<path d="M8.444,27L24,42l15.556-15c2.7-2.033,4.444-5.256,4.444-8.889C44,11.978,39.022,7,32.889,7   C29.256,7,26.022,8.756,24,11.456C21.978,8.756,18.744,7,15.111,7C8.978,7,4,11.978,4,18.111C4,21.744,5.744,24.967,8.444,27z    M15.111,11c2.256,0,4.329,1.04,5.687,2.853L24,18.128l3.202-4.275C28.56,12.04,30.633,11,32.889,11C36.81,11,40,14.19,40,18.111   c0,2.254-1.039,4.329-2.851,5.694l-0.195,0.147l-0.176,0.169L24,36.443L11.221,24.121l-0.176-0.169l-0.195-0.147   C9.039,22.44,8,20.365,8,18.111C8,14.19,11.19,11,15.111,11z"></path>
			</svg>
		</button>
	</div>
</favorite-field>
